.patient-list-page-container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #F1FAEE;
    display: flex;

}



.patient-list-container {
    border-right: .625vw #1D3557 solid;
    box-sizing: border-box;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patient-list-header-search-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.patient-list-header-container {
    display: flex;
    justify-content: center;
}

.patient-list-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.patient-search-label-container {
    display: flex;
    align-items: center;
}

.patient-search-label {
    font-weight: bold;
}



.patient-search-icon-container {
    display: flex;
    width: 80%;
}

.patient-search-input-field {
    border: none;
    border-bottom: 2px black solid;
    width: 100%;
}

.patient-search-input-field:focus {
    outline: none;
}

.patient-search-clear-icon {
    font-size: 24px;
    border-bottom: 2px black solid;
    cursor: pointer;
}

.patient-search-clear-icon:hover {
    color: red;
}

.patient-all-card-container {
    width: 90%;
    display: flex;
    flex-direction: column;

    padding-left: min(3vw, 50px);
    overflow-y: auto;
    overflow-x: hidden;
}


.patient-card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px;
    border: 2px black solid;
    /* border-radius: 5px; */
    width: min(22vw, 422px);
    box-shadow: 1px 1px 5px 1px #F1FAEE;
    overflow-wrap: break-word;
    border: 1px solid #1D3557;
}

.patient-card-container:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px #1D3557;
    border: 1px solid #1D3557;
}

.active-patient {
    background-color: #A8DADC;
}