.condition-page-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #F1FAEE;
    height: 100%;
    width: 100%;
}

.condition-header{
    margin-left: 1rem;
}

.condition-page-conditions-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.condition-page-cards-container{
    border: .2rem solid #1D3557;
    min-width: 300px;
    margin-bottom: .5rem;
    
}
.condition-page-cards-container:hover{
    background-color: #A8DADC;
    cursor: pointer;
}

.condition-page-cards-container-name{
    margin: .5rem;
}
