body {
    background-color: #F1FAEE;
}

.announcements-page-container{
    box-sizing: border-box;
    background-color: #F1FAEE;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}


.announcement-header{
    font-size: max(1.67vw, 32px);
}

.announcement-list-container{
    box-sizing: border-box;
    border-right: .83vw #1D3557 solid;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.announcement-list-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.announcement-list-title-container {
    width: 80%;

}

.announcement-delete-icon-container {
    cursor: pointer;
    position: relative;
    top: 5%;
    left: 99%;
    height: 0px;
}

.announcement-title-container{
    display: flex;
    align-items: center;
    height: 8vh;
    margin-bottom: 1vh;
    padding-left: 1vw;
    border: 2px black solid;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 5px 1px #F1FAEE;
    border: 1px solid #1D3557;
    overflow-wrap: break-word;
}

.announcement-title-container:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px #1D3557;
    border: 1px solid #1D3557;
}

.active-announcement{
    background-color: #A8DADC;
}

.announcement-title{
    font-size: max(1vw, 16px);
}

.announcement-edit-button{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #A8DADC;
}

.announcement-edit-button:hover{
    background-color: #A8DADC;
}
