body {
  background-color: #f1faee;
}

.announcements-page-container {
  box-sizing: border-box;
  background-color: #f1faee;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.announcement-list-container {
  box-sizing: border-box;
  border-right: 0.625vw #1d3557 solid;
  height: 100%;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.announcement-list-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.announcement-list-title-container {
  width: 80%;
}

.announcement-delete-icon-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
  position: relative;
  height: 0px;
}

.announcement-title-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 8vh;
  margin-bottom: 1vh;
  padding-left: 1vw;
  border: 2px black solid;
  border-radius: 5px;
  width: 100%;
  box-shadow: 1px 1px 5px 1px #f1faee;
  border: 1px solid #1d3557;
  overflow-wrap: break-word;
}

.announcement-title-container:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px #1d3557;
  border: 1px solid #1d3557;
}

.active-announcement {
  background-color: #a8dadc;
}

.announcement-title {
  width: 100%;
  overflow-wrap: break-word;
}
