.department-info-page-container{
    box-sizing: border-box;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: .625vw #1D3557 solid;
    padding-left: 10px;
    padding-right: 10px;
    overflow-wrap: break-word;
}

.department-info-header {
    font-size: max(1.67vw, 32px);
}

.department-layout-info{
    font-size: max(1.25vw, 24px);
}