.staff-profile-page-container {
  box-sizing: border-box;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 0.625vw #1d3557 solid;
}

.staff-profile-detail-container {
  width: 95%;
  margin-bottom: 10px;
}

/* .staff-profile-header-container{

} */

.staff-profile-edit-position {
  width: max(290px, 27.4vw);
  position: absolute;
}

.staff-profile-edit-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.staff-profile-edit-success {
  font-size: max(1.25vw, 24px);
}

.staff-profile-edit-icon {
  cursor: pointer;
  font-size: max(1.67vw, 32px);
}

.staff-profile-edit-icon:hover {
  color: #1d3557;
}

.staff-profile-container {
  display: flex;
  justify-content: space-between;
}

/* .staff-profile-picture-container{
    position: relative;
    height: 0px;
    width: 0px;
} */

.staff-profile-picture-icon-position {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 0px;
  width: 100%;
}
.staff-profile-picture-icon {
  margin-top: max(0.4vh, 4px);
  margin-right: max(0.4vh, 4px);
  cursor: pointer;
  font-size: max(1.67vw, 32px);
  color: #1d3557;
}

.staff-profile-picture-icon:hover {
  color: red;
}

.staff-profile-picture {
  width: 12rem;
  aspect-ratio: 1/1;
}

.staff-profile-info-container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.staff-profile-id-name-update-container {
  border-bottom: 2px black solid;
  width: 100%;
  overflow-wrap: anywhere;
}
.staff-profile-first-name-container {
  height: max(4vh, 40px);
  overflow-y: auto;
}
.staff-profile-last-name-container {
  height: max(4vh, 40px);
  overflow-y: auto;
}

.staff-profile-info-header-text {
  margin: 0;
  font-weight: bold;
  font-size: max(0.625vw, 12px);
}

.staff-profile-info-text {
  margin: 0;
  font-size: max(0.8vw, 16px);
}

.staff-profile-edit-name-input {
  width: 95%;
  font-size: max(0.8vw, 16px);
}

.staff-profile-role-select-container {
  font-size: max(0.8vw, 16px);
}

.staff-profile-role-container {
  display: flex;
  flex-direction: column;
}

.split-name {
  display: flex;
  justify-content: space-between;
}

.staff-profile-notes-container {
  width: 95%;
  height: 60%;
  overflow-wrap: anywhere;
  overflow-y: auto;
}

.staff-profile-error {
  font-weight: bold;
  color: red;
}

.staff-profile-input-error {
  border: 2px solid red;
}

.staff-profile-notes-container > h1 {
  font-size: max(1.67vw, 32px);
}

.staff-profile-notes-container > h2 {
  font-size: max(1.25vw, 24px);
}

.staff-profile-notes-container > h3 {
  font-size: max(0.975vw, 18.72px);
}

.staff-profile-notes-container > p {
  font-size: max(0.8vw, 16px);
}

.staff-profile-notes-container > span {
  font-size: max(0.8vw, 16px);
}

.staff-profile-notes-container > ol > li {
  font-size: max(0.8vw, 16px);
}

.staff-profile-notes-container > ul > li {
  font-size: max(0.8vw, 16px);
}

.announcement-detail-writer-container {
  font-size: max(0.8vw, 16px);
}
