.staff-profile-page-container{
    box-sizing: border-box;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 10px #1D3557 solid;
}

.staff-profile-detail-container{
    width: 95%;
    margin-bottom: 10px;
}


/* .staff-profile-header-container{

} */

.staff-profile-edit-position{
    width: max(290px, 27.4vw);
    position:absolute;
}

.staff-profile-edit-container{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.staff-profile-edit-success{
    font-size: 1.7em;
}

.staff-profile-edit-icon{
    cursor: pointer;
    font-size: 2em;
}

.staff-profile-edit-icon:hover{
    color: #1D3557;
}

.staff-profile-container{
    
    display: flex;
    justify-content: space-between;
}

/* .staff-profile-picture-container{
    position: relative;
    height: 0px;
    width: 0px;
} */

.staff-profile-picture-icon-position{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 0px;
    width: 100%;
}
.staff-profile-picture-icon{
    margin-top: 2px;
    margin-right: 2px;
    cursor: pointer;
    font-size: 1.7em;
    color: #1D3557;
}

.staff-profile-picture-icon:hover{
    color: red;
}



.staff-profile-picture{
    width: 200px;
    height: 200px;
}


.staff-profile-info-container{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    
}

.staff-profile-id-name-update-container{
    border-bottom: 2px black solid;
}

.staff-profile-info-header-text{
    margin: 0;
    font-size: 12px;
}

.staff-profile-info-text{
    margin: 0;
    font-size: 18px;
}

.staff-profile-role-container{
    display: flex;
    flex-direction: column;
}

.split-name{
    display:flex;
    justify-content: space-between;
}

.staff-profile-edit-name-input{
    width: 95%;
}


.staff-profile-notes-container{
    width: 95%;
}

.staff-profile-error{
    color: red;
}

.staff-profile-input-error{
    border: 2px solid red;
}