
.hidden {
    display:none;
}

.report-list-page-container{
    
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #F1FAEE;
    display: flex;
}

.report-list-container{
    box-sizing: border-box;
    border-right: .625vw #1D3557 solid;
    height: 100%;
    background-color: #F1FAEE;
    display: flex;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report-list-header-search-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.report-list-header-container {
    display: flex;
    justify-content: center;
}

.report-list-header{
    font-size: max(1.67vw, 32px);
}

.report-list-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.report-search-label-container {
    display: flex;
    align-items: center;
}

.report-search-label {
    font-size: max(.8vw, 16px);
    font-weight: bold;
}

.report-search-icon-container {
    display: flex;
    width: 80%;
}

.report-search-input-field {
    font-size: max(.8vw, 16px);
    border: none;
    border-bottom: 2px black solid;
    width: 100%;
}

.report-search-input-field:focus {
    outline: none;
}

.report-search-clear-icon {
    font-size: max(1.25vw, 24px);
    border-bottom: 2px black solid;
    cursor: pointer;
}

.report-search-clear-icon:hover {
    color: red;
}

.report-all-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.report-card-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
    padding: 10px;
    border: 2px black solid;
    width: 83%;
    box-shadow: 1px 1px 5px 1px #F1FAEE;
    overflow-wrap: break-word;
    border: 1px solid #1D3557;
}

.report-card-container:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px #1D3557;
    border: 1px solid #1D3557;
}


.active-report {
    background-color: #A8DADC;
}

.report-list-title{
font-size: max(.975vw, 18.72px);
    width: 70%;
}

.report-list-Id{
    font-size: max(.8vw, 16px);
}