.staff-list-page-container{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #F1FAEE;
    display: flex;
    
}



.staff-list-container{
    border-right: .625vw #1D3557 solid;
    box-sizing: border-box;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-list-header-search-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.staff-list-header-container{
    display: flex;
    justify-content: center;
}

.staff-list-header{
    font-size: max(1.67vw, 32px);
}

.staff-list-search-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.staff-search-label-container{
    display: flex;
    align-items: center;
}

.staff-search-label{
    font-weight: bold;
}



.staff-search-icon-container{
    display: flex;
    width: 80%;
}

.staff-search-input-field{
    border: none;
    border-bottom: 2px black solid;
    width: 100%;
}

.staff-search-input-field:focus{
    outline:none;
}

.staff-search-clear-icon{
    font-size: 24px;
    border-bottom: 2px black solid;
    cursor: pointer;
}
.staff-search-clear-icon:hover{
    color: red;
}

.staff-all-card-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    
    padding-left: min(3vw,50px);
    overflow-y: auto;
    overflow-x: hidden;
}


.staff-card-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px;
    border: 2px black solid;
    /* border-radius: 5px; */
    width: min(22vw,422px);
    box-shadow: 1px 1px 5px 1px #F1FAEE;
    overflow-wrap: break-word;
    border: 1px solid #1D3557;
}
.staff-card-container:hover{
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px #1D3557;
    border: 1px solid #1D3557;
}

.staff-card-name-text{
    width: 75%;
}

.active-staff{
    background-color: #A8DADC;
}