
.top-navbar-page-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1D3557;

    height: max(10vh,100px);
}

.logo-container{
    height: 100%;
    width: 90%;
}

.img-logo {
    height: 100%;
}

.login-signup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: max(10%,200px);
    margin-right: 20px;
}