/* TODO Add site wide styles */

body {
  margin: 0;
}


/* ----- LOGIN/SIGNUP MODAL STYLES ------*/

#signup-modal-main-page,
#login-modal-main-page {
  padding: 5px 7px;
  border-radius: 5px;
  border: 1px solid #F1FAEE;
  background-color: #F1FAEE;
  box-shadow: 1px 1px 4px 1px #F1FAEE;
}

.login-modal-page-container{
  height: max(30%,30px);
  width: max(40%,80px);
}

#login-modal-main-page {
  margin-right: 20px;
  height: 100%;
  width: max(95%,78px);
  font-size: min(.8vw,36px);
  border-radius: 5px
  
}

.signup-modal-page-container{
  height: max(30%, 30px);
  width: max(45%, 85px);
}

#signup-modal-main-page{
  height: 100%;
  width: max(100%, 90px);
  font-size: min(.8vw, 36px);
  border-radius: 5px
}

#signup-modal-main-page:hover,
#login-modal-main-page:hover,
#logout-button-page-container {
  background-color: #A8DADC;
  border: 1px solid #A8DADC;
  box-shadow: 1px 1px 5px 1px #A8DADC;
  /* color: #F1FAEE; */
  cursor: pointer;
}

.main-user-login,
.main-user-signup {
  display: flex;
  flex-direction: column;
  background-color: #F1FAEE;
  padding: 30px 40px;
  justify-content: center;
  border-radius: 5px;
}

.form-input-user-label{
  font-size: max(.8vw, 16px);
}

.form-input-user {
  font-size: max(.8vw, 16px);
  width: 100%;
  padding: 4px;
  margin: 8px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.form-input-error{
    border: 1px solid red;
}


.user-buttons,
.demo-button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  color: black;
  width: max(6vw, 115px);
  font-size: max(.8vw, 16px);
}

.user-buttons:hover,
.demo-button:hover {
  background-color: #A8DADC;
  border: 1px solid #A8DADC;
  box-shadow: 1px 1px 5px 1px #A8DADC;
  cursor: pointer;
}

.buttons-div {
  display: flex;
  align-items: center;
  margin: 3px 0px px;
  flex-direction: row;
  justify-content: center;
}

.logout-button-page-container{
    height: max(30%, 30px);
  width: max(45%, 85px);
}

#logout-button{
  height: 100%;
  width: max(100%, 90px);
  font-size: min(.8vw, 36px);
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
#logout-button:hover{
  background-color: #A8DADC;
}

.signup-error{
  color: red;

}

.signup-error-text{
  padding-bottom: 5px;
  font-size: max(.625vw, 12px);
  font-weight: bold;
}


.login-form-to-signup-container{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: max(.625vw, 12px);
}

.login-form-to-signup-text{
  color:#A8DADC;
  cursor: pointer;
}

.login-form-to-signup-text:hover{
color: red;
}

.swap-form-text{
}

/* -------------- // ----------------- */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px 1px #1D3557;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #A8DADC;
  border-radius: 10px;
}