.report-form-page-container {
  box-sizing: border-box;
  border-right: 0.625vw #1d3557 solid;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  overflow-y: auto;
}

.report-detail-container {
  height: 100%;
  width: 95%;
}

.report-header-container {
}

.report-edit-position {
  top: 1vh;
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 0px;
  width: 100%;
}

.report-edit-success {
  font-size: 1.5rem;
  color: red;
}

.report-edit-icon {
  cursor: pointer;
  font-size: 2rem;
}

.report-edit-icon:hover {
  color: #1d3557;
}

.report-title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  overflow-wrap: break-word;
}

.report-title-label {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.1vh;
}

.report-title-input {
  margin-bottom: 0.1vh;
}

.report-title-input-error {
  border: 0.15rem solid red;
}
.report-title-max-text-container {
  position: relative;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: flex-end;
}

.report-title-max-text {
  font-size: 0.9rem;
  height: 0px;
  color: red;
}
.report-title-error {
  font-weight: bold;
  color: red;
}

.report-title-error-text {
  font-weight: bold;
  font-size: 0.9rem;
}

.report-updated-container {
  border-bottom: 2px solid black;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
}

.report-update-text {
}

.report-content-container {
  height: 68%;
}

@media only screen and (max-width: 1280px) {
  .report-content-container {
    height: 55%;
  }
}
