.staff-detail-page-container{
    box-sizing: border-box;
    height: 100%;
    width: 33.4%;
    background-color: #F1FAEE;
    display: flex;
    flex-direction: column;
}

.staff-detail-department-container{
    border-bottom: 10px #1D3557 solid;
    width: 100%;
    height: 100px;
}

.staff-detail-reports-container {
    border-bottom: 10px #1D3557 solid;
    width: 100%;
    height: 100px;
}