/* Modal */

.report-patient-edit-icon-modal-container {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 0px;
    top: 10px;
}

.report-patient-edit-icon {
    font-size: 1.75em;
}

.report-patient-edit-icon:hover {
    cursor: pointer;
    color: #1D3557;
}

.edit-report-patient-page-container{
    height: 700px;
    width: 568.75px;
    background-color: #F1FAEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-report-patient-icon-container {
    position: relative;
    width: 95%;
    height: 0px;
    top: 10px;
    display: flex;
    justify-content: flex-end;
}

.edit-report-patient-save-icon {
    font-size: 2em;
    cursor: pointer;
}

.edit-report-patient-save-icon:hover {
    color: #1D3557
}

.edit-report-patient-cancel-icon {
    cursor: pointer;
    font-size: 2em;
}

.edit-report-patient-cancel-icon:hover {
    color: red;
}

.edit-report-patient-header-container{
        width: 100%;
            display: flex;
            justify-content: center;
}

.edit-report-patient-search-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

}

.edit-report-patient-search-label-container {
    /* display: flex;
    align-items: center; */
}

.edit-report-patient-search-label {
    font-weight: bold;
}

.edit-report-patient-input-container {
    display: flex;
    width: 80%;
}

.edit-report-patient-search-input {
    width: 100%;
    border: none;
    border-bottom: 2px black solid;
}

.edit-report-patient-search-input:hover {
    outline: none;
}

.edit-report-patient-search-clear-icon {
    font-size: 24px;
    border-bottom: 2px black solid;
    cursor: pointer;
}

.edit-report-patient-search-clear-icon:hover {
    color: red;
}

.edit-report-patient-remove-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.edit-report-patient-name-container{
    margin-top: 5px;
    display: flex;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #A8DADC;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
    height: 22px;
}

.edit-report-patient-remove-icon-container {
    width: 0px;
}

.edit-report-patient-remove-icon {
    border-radius: 5px;
    border: #1D3557 solid 2px;
    position: relative;
    font-size: .75em;
    bottom: 10px;
    right: 3px;
    z-index: 1;
    background-color: #1D3557;
    color: white;

}

.edit-report-patient-remove-icon:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

.edit-report-patient-cards-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-left: min(3vw, 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

.edit-report-patient-card-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px;
    border: 2px black solid;
    width: min(22vw, 422px);
    box-shadow: 1px 1px 5px 1px #F1FAEE;
    overflow-wrap: break-word;
    border: 1px solid #1D3557;
}

.edit-report-patient-card-container:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px #1D3557;
    border: 1px solid #1D3557;
    background-color: #A8DADC;
}


.edit-report-patient-img {
    width: 100px;
    height: 100px;
}


.edit-report-patient-card-id-name-container {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.edit-report-patient-id-name-header {
    font-size: 12px;
    font-weight: bold;
}

.edit-report-patient-id-name {
    width: 100%;
    border-bottom: 2px black solid;
}