/* Modal */

.report-patient-edit-icon-modal-container {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 0px;
    top: 10px;
}

.report-patient-edit-icon {
    font-size: max(1.25vw, 24px);
}

.report-patient-edit-icon:hover {
    cursor: pointer;
    color: #1D3557;
}

/*  */

.edit-report-patient-page-container{
    height: max(55vh,700px);
    width: max(29.6vw,568.75px);
    background-color: #F1FAEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-report-patient-icon-container {
    position: relative;
    width: 95%;
    height: 0px;
    top: 10px;
    display: flex;
    justify-content: flex-end;
}

.edit-report-patient-save-icon {
font-size: max(1.67vw, 32px);
    cursor: pointer;
}

.edit-report-patient-save-icon:hover {
    color: #1D3557
}

.edit-report-patient-cancel-icon {
    cursor: pointer;
font-size: max(1.67vw, 32px);
    color: red;
}

.edit-report-patient-cancel-icon:hover {
    box-shadow: 1px 1px 5px 1px red;
}

.edit-report-patient-header-container{
        width: 100%;
            display: flex;
            justify-content: center;
}

.edit-report-patient-header{
    font-size: max(1.67vw, 32px);
}


.edit-report-patient-search-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

}

.edit-report-patient-search-label-container {
    /* display: flex;
    align-items: center; */
}

.edit-report-patient-search-label {
    font-weight: bold;
    font-size: max(.8vw, 16px);
}

.edit-report-patient-input-container {
    display: flex;
    width: 80%;
}

.edit-report-patient-search-input {
    font-size: max(.8vw, 16px);
    width: 100%;
    border: none;
    border-bottom: 2px black solid;
}

.edit-report-patient-search-input:hover {
    outline: none;
}

.edit-report-patient-search-clear-icon {
    font-size: max(1.25vw, 24px);
    border-bottom: 2px black solid;
    cursor: pointer;
}

.edit-report-patient-search-clear-icon:hover {
    color: red;
}

.edit-report-patient-remove-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap:anywhere;
    /* overflow-x: ; */
}

.edit-report-patient-name-container{
    margin-top: max(.5vh,5px);
    display: flex;
    padding-left: 3px;
    padding-right: 3px;
    background-color: #A8DADC;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: max(.5vw,10px);

    font-size: max(.8vw, 16px);
    /* width: 100%; */
    overflow-wrap: nywhere;
}

.edit-report-patient-name{
    width: 22.4vw;
}

.edit-report-patient-remove-icon-container {
    width: 0px;
}

.edit-report-patient-remove-icon {
    border-radius: 5px;
    border: #1D3557 solid 2px;
    position: relative;
    font-size: .75em;
    bottom: 10px;
    right: 3px;
    z-index: 1;
    background-color: #1D3557;
    color: white;

}

.edit-report-patient-remove-icon:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

.edit-report-patient-cards-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-left: min(3vw, 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

.edit-report-patient-card-container{
    margin-top: max(.5vh, 5px);
    margin-left: max(.75vw, 5px);
    display: flex;
    justify-content: space-between;
    padding: max(.5vw,10px);
    border: 2px black solid;
    width: max(22vw, 422px);
    box-shadow: 1px 1px 5px 1px #F1FAEE;
    overflow-wrap: break-word;
    border: 1px solid #1D3557;
}

.edit-report-patient-card-container:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px #1D3557;
    border: 1px solid #1D3557;
    background-color: #A8DADC;
}


.edit-report-patient-img {
    width: max(7.81vh,100px);
    aspect-ratio: 1/1;
}


.edit-report-patient-card-id-name-container {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.edit-report-patient-id-name-header {
    font-size: max(.625vw, 12px);
    font-weight: bold;
}

.edit-report-patient-id-name {
    font-size: max(.8vw, 16px);
    width: 100%;
    border-bottom: 2px black solid;
}