.announcement-delete-icon {
  font-size: 1.5rem;
}

.announcement-delete-icon:hover {
  color: red;
}

.delete-announcement-header-main-container {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-announcement-header {
  color: red;
}

.delete-announcement-error {
  color: red;
}

.delete-announcement-buttons {
  cursor: pointer;
  background-color: #a8dadc;
  border-radius: 0.5rem;
  border: 0.2rem solid #1d3557;
  margin: 1rem;
  padding: 0.4rem 1rem;
}

.delete-announcement-buttons:hover {
  box-shadow: 1px 1px 5px 1px #1d3557;
}
