.report-form-page-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    height: 100%;
    overflow-y: auto;
    border-right: 10px #1D3557 solid;
}

.report-detail-container{
    width: 95%;
    margin-bottom: 10px;
}

.report-header-container{

}

.report-edit-position{
    width: max(290px, 27.4vw);
    position: absolute;
}

.repore-edit-position {
    width: max(290px, 27.4vw);
    position: absolute;
}

.report-edit-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.report-edit-success {
    font-size: 1.7em;
}

.report-edit-icon{
    cursor: pointer;
    font-size: 2em;
}

.report-edit-icon:hover{
    color: #1D3557;
}

.report-title-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

.report-title-error{
    color: red;
}

.report-title-max-text-container{
    position: relative;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: flex-end;
}

.report-title-max-text{
    height: 0px;
    font-size: .75em;
    color: red;
}

.report-title-input-error{
    border: 2px solid red;
}

.report-updated-container{
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.report-content-container{

}