.creator-picture-page-container{
    box-sizing: border-box;
    border-right: .625vw #1D3557 solid;
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
}

.creator-picture{
    padding-top: 2rem;
    width: 50%;
    aspect-ratio: 1/1;
}

.creator-picture-about-container{
    width: 96%;
}

.creator-picture-contribution-header{
}

.creator-picture-contributions-ul{
    margin: 0;
}

.creator-picture-about-container li {
    margin-bottom: 1rem;
}