.announcements-details-page-container{
    box-sizing: border-box;
    width: max(300px, 29.4vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 10px #1D3557 solid;
}

.announcement-information{
    margin-left: 70px;
}

.announcement-edit-button-position{
    position:absolute;
}

.announcement-edit-button-container{
    position: relative;
    top: max();
    left: max(23.9vw, 20%);

}
