.announcement-details-page-container {
  box-sizing: border-box;
  border-right: 0.625vw #1d3557 solid;
  height: 100%;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-wrap: break-word;
}

.announcement-detail-header-container {
  width: 100%;
}
.announcement-information {
  display: flex;
  justify-content: center;
}

.announcement-detail-content-container {
  width: 95%;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.announcement-edit-button-position {
  height: 0px;
  width: 98%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.announcement-edit-button {
  position: absolute;
  cursor: pointer;
  background-color: #a8dadc;
  border: 0.2rem solid #1d3557;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  padding: 0.3rem .6rem;
}

.announcement-edit-button:hover {
  box-shadow: 1px 1px 5px 1px #1d3557;
}
