.staff-report-page-container{
    border-bottom: .625vw #1D3557 solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-report-header-container{
    width: 95%;
}

.staff-report-header {

}

.staff-report-map-container {
    display: flex;
    width: 95%;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.staff-report-info-container {
    margin-top: .5rem;
    padding-left: .2rem;
    padding-right: .2rem;
    display: flex;
    background-color: #A8DADC;
    border: .2rem solid black;
    border-radius: .5rem;
    margin-right: .5rem;
}

.staff-report-info-text {
    font-weight: bold;
}