.creator-list-page-container{
    position: relative;
    box-sizing: border-box;
    border-right: .52vw #1D3557 solid;
    bottom: .03vh;
    height: 100.5%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-list-header-container h1 {
    font-size: max(1.67vw, 32px);
}