.report-patients-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 10px #1d3557 solid;
}


.report-patients-header-container {
  width: 95%;
}

/* .report-patients-header {
  font-size: max(1.25vw, 24px);
} */

.report-patients-card-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.report-patient-card-id-name-container {
  margin: 0rem 0.5rem;
  width: 100%;
}

.report-patient-card-id-container {
  border-bottom: #1d3557 solid .2rem;
}

.report-patient-card-id-name-header {
  font-weight: bold;
}

/* .report-patient-card-id {

} */

.report-patient-card-name-container {
  display: flex;
  border-bottom: #1d3557 solid .2rem;
}

.report-patient-name-container {
  width: 50%;
}
