.hidden {
  display: none;
}

.report-list-container {
  box-sizing: border-box;
  border-right: 0.625vw #1d3557 solid;
  height: 100%;
  background-color: #f1faee;
  display: flex;
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-list-header-search-container {
  width: 83%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.report-list-header-container {
  display: flex;
  justify-content: center;
}

.report-list-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
}

.report-search-label-container {
  display: flex;
  align-items: center;
}

.report-search-label {
  font-size: 0.9rem;
  font-weight: bold;
}

.report-search-icon-container {
  display: flex;
  width: 100%;
}

.report-search-input-field {
  border: none;
  border-bottom: .2rem black solid;
  width: 100%;
}

.report-search-input-field:focus {
  outline: none;
}

.report-search-clear-icon {
  font-size: 1.5rem;
  border-bottom: .2rem black solid;
  cursor: pointer;
}

.report-search-clear-icon:hover {
  color: red;
}

.report-all-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.report-card-container {
  width: 83%;
}

.report-card-name-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  padding: .8rem;
  border: 0.2rem black solid;
  width: 100%;
  box-shadow: 1px 1px 5px 1px #f1faee;
  overflow-wrap: break-word;
}

.report-card-name-container:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px #1d3557;
  border: .2rem solid #1d3557;
}

.active-report {
  background-color: #a8dadc;
}

.report-list-title {
  width: 70%;
}
