.staff-department-edit-modal-container {
  display: flex;
  width: 100%;
  top: 10px;
  justify-content: flex-end;
  position: relative;
  height: 0px;
}

.staff-department-edit-icon {
  cursor: pointer;
  font-size: 2rem;
}

.staff-department-edit-icon:hover {
  color: #1d3557;
}

/* Inside-Modal */

.edit-staff-department-page-container {
  height: 50rem;
  width: 40rem;
  background-color: #f1faee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-staff-department-icon-container {
  position: relative;
  width: 95%;
  height: 0px;
  top: 10px;
  display: flex;
  justify-content: flex-end;
}

.edit-staff-deapartment-edit-icon {
  cursor: pointer;
  font-size: 2rem;
}

.edit-staff-department-cancel-icon {
  cursor: pointer;
  font-size: 2rem;
  color: red;
}

.edit-staff-department-cancel-icon:hover {
  box-shadow: 1px 1px 5px 1px red;
}

.edit-staff-department-header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit-staff-department-header {

}

.edit-staff-department-search-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.edit-staff-deparment-search-label-container {
  display: flex;
  align-items: center;
}

.edit-staff-deparment-search-label {
  font-weight: bold;

}

.edit-staff-department-input-container {
  display: flex;
  width: 100%;
}

.edit-staff-department-search-input {
  width: 100%;
  border: none;
  border-bottom: 0.2rem black solid;
}

.edit-staff-department-search-input:hover {
  outline: none;
}

.edit-staff-department-search-clear-icon {
  font-size: 2rem;
  border-bottom: 0.2rem black solid;
  cursor: pointer;
}

.edit-staff-department-search-clear-icon:hover {
  color: red;
}

.edit-staff-department-remove-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.edit-staff-department-name-container {
  margin-top: max(0.5vh, 5px);
  display: flex;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #a8dadc;
  border: 0.2rem solid black;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.edit-staff-department-remove-icon-container {
  width: 0px;
}

.edit-staff-department-remove-icon {
  border-radius: 0.5rem;
  border: #1d3557 solid 0.2rem;
  position: relative;
  font-size: 0.6rem;
  bottom: 0.5rem;
  right: 0.2rem;
  z-index: 1;
  background-color: #1d3557;
  color: white;
}

.edit-staff-department-remove-icon:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

.edit-staff-department-cards-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.edit-staff-department-card-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 32rem;
  margin-top: .5rem;
  padding: 1rem;
  border: .2rem black solid;
  box-shadow: 1px 1px 5px 1px #f1faee;
  overflow-wrap: break-word;
}

.edit-staff-department-card-container:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px #1d3557;
  border: .5rem solid #1d3557;
  background-color: #a8dadc;
}

.edit-staff-department-card-name {

}

.edit-staff-department-card-id {

  font-weight: bold;
}
