.patient-contact-page-container {
    border-bottom: 10px #1D3557 solid;
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patient-contact-header-container{
    width: 95%;
}

.patient-contact-name-phone-container{
    width: 95%;
    display: flex;
    flex-direction: column;
}

.patient-contact-save-icon-container{
    height: 0px;
    width: 95%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    bottom: 50px;
}

.patient-contact-save-icon{
    font-size: 1.75em;
}

.patient-contact-save-icon:hover{
    cursor: pointer;
    color: #1D3557;
}

.patient-contact-name-container{
    display: flex;
    border-bottom: 2px black solid;
}

.patient-contact-first-name-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.patient-contact-first-name-header{
    font-size: .8em;
}

.patient-contact-last-name-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.patient-contact-last-name-header{
    font-size: .8em;

}




.patient-contact-phone-container {
    width: 50%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px black solid;
    margin-bottom: 5px;
}

.patient-contact-phone-header{
font-size: .8em;
}