.report-department-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 10px #1D3557 solid;
}

.report-department-header-container{
    width: 95%;
}

.report-department-list-container{
    width: 95%;
    margin-bottom: 10px;
}

.report-department-name{
    font-weight: bold;
}