.tab-nav-container {
    height: max(5.1vh,40px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: darkgray
}

.tab-header-container.active-tab{
    border: red 5px solid;
    /* border: none; */
}

.tab-navbar-container{
    box-sizing: border-box;
    height: 100%;
}

.tab-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: grey 2px solid;
    width: 130px;
    height: 100%;
    
}

.tab-header{
    margin: 0;
}

.tab-header:hover{
    cursor: pointer;
}

.tab-container{
    height: 100vh;
}


.add-tab-header{
    margin: 0;
}

.add-tab-header:hover{
    cursor: pointer;
}