.tab_nav_container {
    height: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #457B9D;
}

.tab-header-container.active-tab{
    /* border: 1px solid #F1FAEE; */
    box-sizing: border-box;
    box-shadow: 1px 1px 10px 1px #1D3557;
    /* border: none; */
}

.tab-navbar-container{
    box-sizing: border-box;
    height: 100%;
}

.tab-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: #1D3557 1px solid;
    width: 130px;
    height: 100%;
    
}

.tab-header{
    margin: 0;
}


.add-tab-header{
    margin: 0;
}