.patient-profile-page-container {
    box-sizing: border-box;
    width: 33.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: .625vw #1D3557 solid;
}

.patient-profile-detail-container{
    width: 95%;
    margin-bottom: 10px;
}

/* .patient-profile-header-container{

} */

.patient-profile-edit-position{
    width: max(290px, 27.4vw);
    position: absolute;
}

.patient-profile-edit-container{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.patient-profile-edit-success{
    font-size: max(1.25vw, 24px);
}

.patient-profile-edit-icon{
    cursor: pointer;
    font-size: max(1.67vw, 32px);
}

.patient-profile-edit-icon:hover {
    color: #1D3557;
}

.patient-profile-header{
    font-size: max(1.67vw, 32px);
}


.patient-profile-container{
    display: flex;
    justify-content: space-between;
}

/* .patient-profile-picture-container{

} */


.patient-profile-picture-icon-position{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 0px;
    width: 100%;
}

.patient-profile-picture-icon {
    margin-top: max(.4vh,4px);
    margin-right: max(.4vh, 4px);
    cursor: pointer;
    font-size: max(1.67vw, 32px);
    color: #1D3557;
}
.patient-profile-picture-icon:hover {
    color: red;
}


.patient-profile-picture{
    height: max(10vw,200px);
    aspect-ratio: 1/1;
}


.patient-profile-info-container{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.patient-profile-id-name-update-container{
    border-bottom: 2px black solid;
}

.patient-profile-info-header-text {
    margin: 0;
    font-weight: bold;
    font-size: max(.625vw, 12px);
}

.patient-profile-info-text {
    margin: 0;
    font-size: max(.8vw, 16px);
}

.patient-profile-edit-name-input {
    width: 95%;
    font-size: max(.8vw, 16px);
}

.patient-profile-address-input{
    width: 97%;
    font-size: max(.8vw, 16px);
}


.patient-profile-notes-container {
    width: 95%;
    height: 60%;
}

.patient-profile-error {
    color: red;
}
.patient-profile-input-error{
    border: 2px red solid;
}

.patient-profile-error-text{
    color: red;
    padding-bottom: max(.5vh,5px);
    font-weight: bold;
    font-size: max(.625vw, 12px);
}