.discover-list-page-container{
    box-sizing: border-box;
        height: 100%;
        width: 33.4%;
        background-color: #F1FAEE;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
}

.discover-staffs-card-container{
    margin-top: max(1.3vh,10px);
    width: 95%;
    display: flex;
    justify-content: space-between;
}