.patient-report-page-container{
    border-bottom: .625vw #1D3557 solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patient-report-header-container{
    width: 95%;
}

.patient-report-header{
    font-size: max(1.25vw, 24px);
}

.patient-report-map-container{
    display: flex;
    width: 95%;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.patient-report-info-container{
    margin-top: max(.5vh,6px);
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    background-color: #A8DADC;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: max(.5vw,10px);
    font-size: max(.8vw, 16px);
}

.patient-report-info-text{
    font-weight: bold;
}