.announcement-form-page-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max(300px, 29.5vw);
    height: 800px;
}
.announcement-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 85%;
}

.form-error{
    color: red;
}
.form-error-input-border{
    border: 1px red solid;
}

.announcement-form-title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.announcement-form-content-container{
    width: 100%;
}


.annoucement-form-countent-tracker-container{
    position: absolute;

}
.annoucement-form-countent-tracker-position{
    position: relative;
    top: 38px;
    left: 145px;
}



.announcement-form-button-container{
    width: 100%;

}
.announcement-form-page-subcontainer {
    margin-left: 50px;
}

.announcement-input-form,
.ql-editor.ql-blank {
    background-color: white;
}

.announcement-form-errors-container{
    margin-top: 20px;
}

.announcement-form-errors{
    font-size: .75em;
    color: red;
}
.announcement-form-button-container{
    display: flex;
    justify-content: space-between;
}

.announcement-buttons {
    cursor: pointer;
    background-color: #A8DADC;
    border-radius: 3px;
    border: 1px solid #1D3557;
    margin-top: 5px;
}

.announcement-buttons:hover {
    box-shadow: 1px 1px 5px 1px #1D3557;
    border: 1px solid #1D3557;
}